In [1]:
import csv

In [9]:
with open ('c:\\sqlite3\\csv\\database2.txt','r',errors="ignore")as f:
    contents=f.read()
    print(contents)

Microsoft Windows [Version 10.0.16299.15]
(c) 2017 Microsoft Corporation. All rights reserved.

C:\Users\scott>cd..

C:\Users>cd..

C:\>cd sqlite3

C:\sqlite3>sqlite3 python.db
SQLite version 3.36.0 2021-06-18 18:36:39
Enter ".help" for usage hints.
sqlite> create table student_mast
   ...> (
   ...>  stud_id int,
   ...>  sname varchar(10),
   ...>  sclass varchar(12)
   ...> );
sqlite> insert into student_mast values(101,'steven king',7);
sqlite> insert into student_mast values(102,'noona kochhar',8);
sqlite> insert into student_mast values(103,'lax de haan',9);
sqlite> insert into student_mast values(104,'alexander hunold',10);

sqlite> select*from student_mast;
101|steven king|7
102|noona kochhar|8
103|lax de haan|9
104|alexander hunold|10
sqlite> .mode table
sqlite> select*from student_mast;
+---------+------------------+--------+
| stud_id |      sname       | sclass |
+---------+------------------+--------+
| 101     | steven king      | 7      |
| 102     | noona kochhar    | 8      |
| 103     | lax de haan      | 9      |
| 104     | alexander hunold | 10     |
+---------+------------------+--------+

sqlite> create trigger valid_name
   ...> before insert on student_mast
   ...> begin
   ...> select
   ...> case
   ...> when new.name not like's_%' then
   ...> raise(abort,'invalid name')
   ...> end;
   ...> end;
sqlite> insert into student_mast values(11,'suhani',12);
Error: no such column: new.name
sqlite> insert into student_mast values(11,'sujal',12);
Error: no such column: new.name
sqlite> insert into student_mast values(11,'sujal',12);
Error: no such column: new.name
sqlite> .mode table
sqlite> select*from student_mast;
+---------+------------------+--------+
| stud_id |      sname       | sclass |
+---------+------------------+--------+
| 101     | steven king      | 7      |
| 102     | noona kochhar    | 8      |
| 103     | lax de haan      | 9      |
| 104     | alexander hunold | 10     |
+---------+------------------+--------+
sqlite> create trigger aft_update
   ...> after update on student_mast
   ...> begin
   ...> insert into stu_log(description)values('update student record'||old.name||'previous class:'||old.st_class||'present class'||new.st_class);
   ...> end;
sqlite> now update the student_mast table;